body {
  background: #eeeeee;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Review {
  text-align: right;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  transition: all 1s;
  opacity: 1;
}

.hidden-review {
  text-align: right;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  transition: all 1s;
  opacity: 0;
}

.MiriPic {
  width:100px;
  height:auto;
  background: blue;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 20px;
  border-radius: 100%;
}

.WrittenReview {
  display: block;
  background: white;
  padding: 10px;
  font-size: 12px;
  border-radius: 2px;
  transition: all 1s;
}

.App-link {
  color: #09d3ac;
}

form {
  display: grid;
}

input {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
}

button {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  transition: all 0.2s;
}


button:hover{
  background-color:#668fff;
}

footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  z-index: -999;
  width: 80%;
  left: 10%;
}

.shareBox {
  display: block;
  padding: 15px;
  background: #eeeeee;
  margin-top: 10px;
  background-color: #efefef;
  color: black;
  box-shadow: 2px 2px #0000001f;
  font-size: 14px;
}

.social {
  display: flex;
}

.fbIcon{
  margin: 5px;
}

@media only screen and (max-width: 768px){
    .App {
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    .Review {
      text-align: right;
      display: block;
      padding: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      transition: all 1s;
      opacity: 1;
    }
    
    .hidden-review {
      text-align: right;
      display: flex;
      padding: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      transition: all 1s;
      opacity: 0;
    }
    
    .MiriPic {
      width:100px;
      height:auto;
      background: blue;
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100%;
    }
    
    .WrittenReview {
      display: block;
      background: white;
      padding: 10px;
      font-size: 12px;
      border-radius: 2px;
      transition: all 1s;
    }
  
  }